<a href="https://colab.research.google.com/github/MC855FilmesParaTi/machinelearning/blob/FPTI-21/notebooks/3-lfb-split-data_ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

teste

In [ ]:
data_dir = '../data/processed/'

In [ ]:
rating_df = pd.read_csv(data_dir + 'rating.csv')
rating_df.head()

   userId  movieId  rating            timestamp  Liked
0       1        2     3.5  2005-04-02 23:53:47      1
1       1       29     3.5  2005-04-02 23:31:16      1
2       1       32     3.5  2005-04-02 23:33:39      1
3       1       47     3.5  2005-04-02 23:32:07      1
4       1       50     3.5  2005-04-02 23:29:40      1

Split data into train, val and test sets

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(rating_df, test_size=0.2, random_state=42)

In [ ]:
test.to_csv(data_dir + 'test_rating.csv', index=False)
del test

In [ ]:
train, val = train_test_split(train, test_size=0.2, random_state=42)

In [ ]:
val.to_csv(data_dir + 'validation_rating.csv', index=False)
train.to_csv(data_dir + 'train_rating.csv', index=False)

In [ ]:
del train
del val