In [12]:
import pandas as pd
import numpy as np

In [13]:
data_dir = '../data/processed/'

In [14]:
movies = pd.read_csv(data_dir + 'movie.csv')
movies.head()

,movieId,title,action,adventure,animation,children,comedy,crime,documentary,drama,...,musical,mystery,romance,scifi,thriller,unknown,war,western,year,rating
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1995.0,3.921240
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1995.0,3.211977
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1995.0,3.151040
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,1995.0,2.861393
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1995.0,3.064592

Split data into train, val and test sets

In [15]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(movies, test_size=0.2, random_state=42)

In [16]:
test.to_csv(data_dir + 'test_movies.csv', index=False)
del test

In [17]:
train, val = train_test_split(train, test_size=0.2, random_state=42)

In [18]:
val.to_csv(data_dir + 'validation_movies.csv', index=False)
train.to_csv(data_dir + 'train_movies.csv', index=False)

In [19]:
del train
del val